* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherist;
}

input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(217, 237, 255, 0.9);
}

.body {
  width: 70%;
  height: 80%;
}

.title {
  margin-top: -20px;
  margin-bottom: 10px;
  font-weight: 700;
}
.title p {
  text-align: center;
  font-size: 50px;
  opacity: 0.75;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(240, 212, 170, 0.8);
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.block__wrap {
  flex: 50%;
  padding: 40px;
  overflow: hidden;
}

.block__container {
  padding: 0px 20px;
  height: 100%;
  width: 100%;
}
.block__container #tasks {
  height: 100%;
  width: 100%;
}
.block__container #tasks-end {
  height: 100%;
  width: 100%;
}
.block__container .task {
  cursor: move;
  overflow: hidden;
  height: 50px;
  width: 100%;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 13px 0px;
  padding-left: 18px;
  font-size: 18px;
  background: #ecdcc6;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), inset 0px 25px 20px rgba(255, 255, 255, 0.2);
}
.block__container .task .buttons {
  display: flex;
}
.block__container input {
  border: 2px solid rgba(240, 212, 170, 0.8);
  width: 100%;
  height: 50px;
  border-radius: 7px;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: Arial;
  padding: 0px 18px;
  background: transparent;
  box-shadow: -5px -5px 3px rgba(255, 255, 255, 0.15), 5px 5px 3px rgba(0, 0, 0, 0.15), inset -5px -5px 3px rgba(255, 255, 255, 0.15), inset 5px 5px 3px rgba(0, 0, 0, 0.15);
}
.block__container .task-add {
  position: relative;
}
.block__container .btn-add {
  position: absolute;
  right: 0px;
  transition-duration: 150ms;
}
.block__container .btn-task {
  height: 50px;
  width: 50px;
  font-size: 40px;
  background: transparent;
}

#tasks-end .task {
  background: #a0907a;
}
#tasks-end .btn-task-end {
  display: none;
}

.btn-task-style {
  transition-duration: 200ms;
  opacity: 0.7;
}
.btn-task-style:hover {
  opacity: 1;
}